{{ template "base" . }}
{{ define "content" }}
    <div class="container">
        <div class="row mt-3">
            <div class="col-md-6 offset-md-3">
                <h1 class="text-center">予約</h1>
                <!--needs-validation -->
                {{ $res := index .Data "reservation" }}
                <form action="/make-reservation" method="post" class="" novalidate>
                    <div class="mb-3">
                        <label for="user_name" class="form-label">氏名</label>
                        <input type="text" class="form-control {{ with .Form.Errors.Get "user_name" }}is-invalid{{ end }}"
                               id="user_name" name="user_name" autocomplete="off" value="{{$res.UserName}}" required>
                        <div class="invalid-feedback">{{ .Form.Errors.Get "user_name" }}</div>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">メールアドレス</label>
                        <input type="email" class="form-control {{ with .Form.Errors.Get "email" }}is-invalid{{ end }}"
                               id="email" name="email" value="{{$res.Email}}" required>
                        <div class="invalid-feedback">{{ .Form.Errors.Get "email" }}</div>
                    </div>
                    <div>
                        <label for="phone_number" class="form-label">電話番号</label>
                        <input type="text" class="form-control {{ with .Form.Errors.Get "phone_number" }}is-invalid{{ end }}"
                               id="phone_number" name="phone_number" value="{{$res.PhoneNumber}}" required>
                        <div class="invalid-feedback">{{ .Form.Errors.Get "phone_number" }}</div>
                    </div>
                    <div class="row mt-3">
                        <div class="col text-center">
                            <button type="submit" class="btn btn-primary px-5">登録</button>
                        </div>
                    </div>
                    <input type="hidden" name="csrf_token" value="{{ .CSRFToken }}">
                </form>
            </div>
        </div>
    </div>
{{ end }}