{{ template "base" . }}
{{ define "content" }}
    <div class="container">
        <div class="row mt-3">
            <div class="col-md-6 offset-md-3">
                <h2 class="text-center">予約登録</h2>
                {{ $res := index .Data "reservation" }}

                <table class="table table-borderless mt-3">
                    <tbody>
                        <tr>
                            <th style="width:150px">予約部屋</th>
                            <td>{{ $res.Room.RoomName }}</td>
                        </tr>
                        <tr>
                            <th>予約開始日</th>
                            <td>{{ $res.StartDate.Format "2006-01-02" }}</td>
                        </tr>
                        <tr>
                            <th>予約終了日</th>
                            <td>{{ $res.EndDate.Format "2006-01-02" }}</td>
                        </tr>
                    </tbody>
                </table>
                <hr class="my-4">
                <!--needs-validation -->
                <form action="/make-reservation" method="post" class="" novalidate>
                    <div class="mb-3">
                        <label for="last_name" class="form-label">姓</label>
                        <input type="text" class="form-control {{ with .Form.Errors.Get "last_name" }}is-invalid{{ end }}"
                               id="last_name" name="last_name" autocomplete="off" value="{{$res.LastName}}" required>
                        <div class="invalid-feedback">{{ .Form.Errors.Get "last_name" }}</div>
                    </div>
                    <div class="mb-3">
                        <label for="first_name" class="form-label">名</label>
                        <input type="text" class="form-control {{ with .Form.Errors.Get "first_name" }}is-invalid{{ end }}"
                               id="first_name" name="first_name" autocomplete="off" value="{{$res.FirstName}}" required>
                        <div class="invalid-feedback">{{ .Form.Errors.Get "first_name" }}</div>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">メールアドレス</label>
                        <input type="email" class="form-control {{ with .Form.Errors.Get "email" }}is-invalid{{ end }}"
                               id="email" name="email" value="{{$res.Email}}" required>
                        <div class="invalid-feedback">{{ .Form.Errors.Get "email" }}</div>
                    </div>
                    <div>
                        <label for="phone" class="form-label">電話番号</label>
                        <input type="text" class="form-control {{ with .Form.Errors.Get "phone" }}is-invalid{{ end }}"
                               id="phone" name="phone" value="{{$res.Phone}}" required>
                        <div class="invalid-feedback">{{ .Form.Errors.Get "phone" }}</div>
                    </div>
                    <div class="row mt-3">
                        <div class="col text-center">
                            <button type="submit" class="btn btn-primary px-5">予約確定</button>
                        </div>
                    </div>
                    <input type="hidden" name="room_id" value="{{ $res.RoomID }}">
                    <input type="hidden" name="start_date" value="{{ $res.StartDate.Format "2006-01-02" }}">
                    <input type="hidden" name="end_date" value="{{ $res.EndDate.Format "2006-01-02" }}">
                    <input type="hidden" name="csrf_token" value="{{ .CSRFToken }}">
                </form>
            </div>
        </div>
    </div>
{{ end }}