{{ template "base" . }}
{{ define "content" }}
    <div class="container">
        <div class="row mt-3">
            <div class="col-md-6 offset-md-3">
                <h1 class="text-center">予約</h1>
                <!--needs-validation -->
                {{ $res := index .Data "reservation" }}
                <form action="/make-reservation" method="post" class="" novalidate>
                    <div class="mb-3">
                        <label for="last_name" class="form-label">姓</label>
                        <input type="text" class="form-control {{ with .Form.Errors.Get "last_name" }}is-invalid{{ end }}"
                               id="last_name" name="last_name" autocomplete="off" value="{{$res.LastName}}" required>
                        <div class="invalid-feedback">{{ .Form.Errors.Get "last_name" }}</div>
                    </div>
                    <div class="mb-3">
                        <label for="first_name" class="form-label">名</label>
                        <input type="text" class="form-control {{ with .Form.Errors.Get "first_name" }}is-invalid{{ end }}"
                               id="first_name" name="first_name" autocomplete="off" value="{{$res.FirstName}}" required>
                        <div class="invalid-feedback">{{ .Form.Errors.Get "first_name" }}</div>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">メールアドレス</label>
                        <input type="email" class="form-control {{ with .Form.Errors.Get "email" }}is-invalid{{ end }}"
                               id="email" name="email" value="{{$res.Email}}" required>
                        <div class="invalid-feedback">{{ .Form.Errors.Get "email" }}</div>
                    </div>
                    <div>
                        <label for="phone" class="form-label">電話番号</label>
                        <input type="text" class="form-control {{ with .Form.Errors.Get "phone" }}is-invalid{{ end }}"
                               id="phone" name="phone" value="{{$res.Phone}}" required>
                        <div class="invalid-feedback">{{ .Form.Errors.Get "phone" }}</div>
                    </div>
                    <div class="row mt-3">
                        <div class="col text-center">
                            <button type="submit" class="btn btn-primary px-5">登録</button>
                        </div>
                    </div>
                    <input type="hidden" name="csrf_token" value="{{ .CSRFToken }}">
                </form>
            </div>
        </div>
    </div>
{{ end }}