{{ template "base" . }}

{{ define "content" }}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center mt-3">予約情報登録しました。</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3 mt-3">
                {{$res := index .Data "reservation" }}
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th>姓</th>
                            <td>{{ $res.LastName }}</td>
                        </tr>
                        <tr>
                            <th>名</th>
                            <td>{{ $res.FirstName }}</td>
                        </tr>
                        <tr>
                            <th>予約開始日</th>
                            <td>{{ $res.StartDate.Format "2006/01/02" }}</td>
                        </tr>
                        <tr>
                            <th>予約終了日</th>
                            <td>{{ $res.EndDate.Format "2006/01/02" }}</td>
                        </tr>
                        <tr>
                            <th>部屋番号</th>
                            <td>{{ $res.RoomID }}</td>
                        </tr>
                        <tr>
                            <th>メールアドレス</th>
                            <td>{{ $res.Email }}</td>
                        </tr>
                        <tr>
                            <th>電話番号</th>
                            <td>{{ $res.Phone }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{{ end }}