{{ template "base" . }}

{{ define "content" }}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="col">
                <img src="/static/images/marjors-suite.png" class="img-thumbnail rounded mx-auto d-block w-50 mt-5" alt="room image" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1 class="text-center mt-5">Major's Suite</h1>
            <p>
                Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vacation to remember.
                Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vacation to remember.
                Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vacation to remember.
                Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vacation to remember.
                Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vacation to remember.
                Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vacation to remember.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <button type="button" class="btn btn-success" onclick="roomBookConfirm('2')">予約状態確認</button>
        </div>
    </div>
</div>
{{ end }}