{{ template "base" }}
{{ define "content" }}
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6 offset-md-3">
                <h1 class="mb-3">現在予約の空き状況確認</h1>
                <form action="/reservation" method="GET" class="needs-validation" novalidate>
                    <div class="row mb-3" id="reservation-date">
                        <div class="col">
                            <input type="text" class="form-control" id="start-date" name="start" placeholder="開始日" required>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" id="end-date" name="end" placeholder="終了日" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <button type="submit" class="btn btn-primary px-5" id="search">検索</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{{ end }}
{{ define "javascript" }}
<script type="text/javascript">
    const elem = document.getElementById('reservation-date');
    const rangepicker = new DateRangePicker(elem, {
        format: "yyyy/mm/dd",
        language: "ja"
    });

    // let searchBtn = document.getElementById("search");
    // searchBtn.addEventListener("click", function (event) {
    //     // notie.alert({
    //     //     type: "success",
    //     //     text: "hello javascript"
    //     // });
    //     Swal.fire({
    //         icon: 'success',
    //         title: 'Oops...',
    //         text: 'Something went wrong!',
    //         confirmButtonText: "確定"
    //     })
    // })
</script>
{{ end }}